<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create a bookmark</title>
</head>
<body>
<h1>Form</h1>
<form action="#" th:action="@{'/bookmark/update/' + ${bookmark_id}}" th:object="${bookmark}" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <p>Url: <input type="text" th:field="*{url}" /></p>
    <p>Title: <input type="text" th:field="*{title}" /></p>
    <p><input type="submit" value="Submit" /></p>
</form>
</body>
</html>